body {
    height: 100vh;
    background-image: url(./snow.jpg);
    background-size: cover;
}

h1 {
    text-align: center;
    color: aliceblue;
}

.select-container {
    display: flex;
    flex-direction: column;
    width: fit-content;
}